.menuTotal {
  background-color: #1c1c24;
  border-radius: 10px;
  margin-top: 2vh;
  width: 100%;
  padding-bottom: 1vh;
  min-width: 190px;
}

.topText {
  height: 10%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #3e3d3f;

  h2 {
    font-size: 10px;
  }

  #showAll {
    cursor: pointer;
  }
}

.details {
  padding-top: 15px;
}

.detailsTop {
  padding-left: 15px;
  display: flex;
  align-items: center;

  p {
    margin-left: 10px;
  }

  .themesLogo {
    width: 60px;
    min-width: 40px;
  }
}

.detailsText {
  display: flex;
  flex-direction: column;

  p {
    margin: 0 0 0 8px;
  }

  #thematicTitle {
    font-size: 0.8rem;
  }

  #thematicTeaser {
    font-size: 0.6rem;
  }
}

.thematicThumbnail {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  background-position: center;
  background-size: cover;
  aspect-ratio: 3/2;
  border-radius: 10px;
}
