<div class="menuTotal">
  <div class="main">
    <div class="topText">
      <h2>Temáticas Sugeridas</h2>
      <h2 id="showAll" routerLink="/thematics">
        VER TODAS
      </h2>
    </div>
    <div class="details">
      <div class="detailsTop">
        <div class="themesLogo">
          <app-user-logo
            [src]="apiRoute + thematic.logo">
          </app-user-logo>
        </div>
        <div class="detailsText">
          <p id="thematicTitle">{{thematic.title}}</p>
          <p id="thematicTeaser">{{thematic.teaser}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="thematicThumbnail"
       [ngStyle]="{'background-image': 'url(' + apiRoute + thematic.thumbnail + ')'}">
  </div>
</div>
