.container {
  background-color: #202124;
  max-width: 150%;
  height: 83%;
  color: white;
  position: absolute;
  display: block;
}

.navbarLogo {
  display: flex;
  justify-content: center;
  width: 170px;
  background-color: #202124;
}

img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.navbarMenu {
  height: 100%;
  min-width: 170px;


  .navmenuLinks {
    width: 170px;
    height: 30%;
  }

  .links{
    align-items: center;
    height: 30px;
    display: flex;
    margin-left: 2px;
    margin-bottom: 10px;
    border-left: 2px solid white;
    border-radius: 2px;
  }

  fa-icon {
    margin-right: 15px;
    margin-left: 10px;
  }
}
