<div class="navbarTotal">
  <div class="navbarLogo">
    <a><img alt="imgLogo" src="./assets/images/upload.svg"></a>
  </div>
  <div class="navbarMenu">
    <div class="navmenuLinks">
      <div class="links" routerLink="/homepage" routerLinkActive="currentPage">
        <fa-icon [icon]="faHouseSolid"></fa-icon>
        <p id="link1">Início</p>
      </div>
      <div class="links" routerLink="/video/1" routerLinkActive="currentPage">
        <fa-icon [icon]="faBarsStaggeredSolid"></fa-icon>
        <p id="link2">Canais</p>
      </div>
      <div class="links" routerLink="/video/2" routerLinkActive="currentPage">
        <fa-icon [icon]="faClapperboardSolid"></fa-icon>
        <p id="link3">Temáticas</p>
      </div>
      <div class="links" routerLink="/video/3" routerLinkActive="currentPage">
        <fa-icon [icon]="faPlaySolid"></fa-icon>
        <p id="link4">Playlists</p>
      </div>
    </div>
    <div class="containerTags">
      <p class="headerTags">TAGS</p>
      <div *ngFor="let tag of tags" class="navbarTags">
        <a style="color: inherit;" [href]=tag>{{tag}}</a>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
