img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 2px solid #FFFFFF;
  /*  transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;*/
}

/*img:hover {
  transform: scale(1.3);
}*/
