#container {
  margin-inline: 2vw;

  #gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vh 2vw;
    margin-right: 1.5vw;

  }

  h3 {
    margin-top: 2%;
    margin-bottom: 1%;
    color: white;
  }
}


