.Header{
  display: flex;
  margin: auto;
  .faded-image{
    margin: 20px 20px 20px 20px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 4/1;

  }
  .logo{
    border-radius: 50%;
    position: absolute;
    margin-left: 65%;
    margin-top: 16%;

    img{
      width: 164px;
      border: 1px solid blue;
    }

  }
  .texto{
    position: absolute;
    margin-top: 21%;
    margin-left: 2%;
    hr{
      width: 1155px;
      margin-top: 40px;
    }

  }

}






