.Header {
  margin-left: 2%;
  margin-top: 20px;

  .main {
    position: relative;
    display: flex;
  }

  .faded-image {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 4/1;
    mask-image: linear-gradient(to top, rgba(19, 19, 26, 0) 0%, #13131A 99.98%, #000000 99.99%);
  }

  .logo {
    position: absolute;
    width: 10vw;
    right: 0;
    bottom: 0;
    margin-right: 4%;
    margin-bottom: -5%;
  }

  .texto {
    margin-top: 1.5vw;
    border-bottom: 2px solid white;
    margin-right: 1.5vw;

    h2 {
      margin-top: 0;
      margin-bottom: 1vw;
    }

    p {
      margin-top: 0;
      margin-bottom: 1vw;
    }
  }

}

#videoCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2vh 2vw;
  margin-right: 1.5vw;
  margin-top: 10.2px;
  margin-left: 1.5vw;

  .card {
    max-width: 500px;
  }
}





