<div class="Header" *ngIf="processedPage">

  <img [src]="apiLink+channel.banner" class="faded-image">
  <div class="logo">
    <app-user-logo [src]="apiLink+channel.logo" size="200px"></app-user-logo>
  </div>
  <div class="texto">
    <h2> {{channel.title}} </h2>
    <p>{{channel.description}}</p>
    <hr>
  </div>

</div>
<div id="videoCards">
  <div class="card">
    <app-video-card *ngFor="let video of videos"
                    [video_data]="video"
    ></app-video-card>
  </div>
</div>

