.globalContainer {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}

.gridContainer {
  margin-left: 1vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5vw;
}

@media only screen and (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    max-height: calc(100vh - 80px); //because of banner 80px
  }
}

@media only screen and (max-width: 426px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

h1 {
  margin: 0;
  padding: 10px 0 0 10px;
}
