<div class="containerInputs">
  <h4>Comentários</h4>
  <div class="inputTotal">
    <div class="userLogoComment" *ngFor="let channel of channels">
      <app-user-logo
        [src]="apiRoute + channel.logo"
      >
      </app-user-logo>
    </div>
    <div class="inputFields">
      <form>
        <span>
          <input placeholder="Nome" id="inputName" type="text">
          <input placeholder="E-mail" id="inputEmail" type="text">
        </span>
        <textarea placeholder="Mensagem" id="inputMessage"></textarea>
      </form>
    </div>
  </div>
  <div class="submitButton">
    <button>Submeter Comentário</button>
  </div>
  <div class="containerPosted">
    <div class="userLogoCommented" *ngFor="let channel of channels">
      <app-user-logo
        [src]="apiRoute + channel.logo"
      >
      </app-user-logo>
    </div>
    <div>
      <div class="commentDetails">
        <p class="commentUsername">Fábio Duarte</p> <p class="commentTime">há 5 minutos</p>
      </div>
      <div class="commentText">
        <p>
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum
        </p>
      </div>
    </div>
  </div>
</div>
