.containerInputs {
  display: flex;
  flex-direction: column;
}

.inputTotal {
  display: flex;
  width: 100%;
  position: relative;
}

.userLogoComment {
  margin-right: 15px;
  width: 70px;
}

.inputFields {
  display: flex;
  width: 100%;

  span {
    display: flex;
    justify-content: space-between;

    input {
      width: 48%;
      margin-bottom: 10px;
    }

    input:hover {
      box-shadow: 0 0 10px #ded4d4;
    }
  }

  .bounce {
    outline: 0;
    border-color: red;
    animation-name: bounce;
    animation-duration: .5s;
    animation-delay: 0.25s;
    box-shadow: 0 0 10px #832222;
  }

}

.inputFields form {
  flex: 1;
}

input {
  border: none;
  border-bottom: 2px solid gray;
  background: none;
  height: 40px;
  font-family: Poppins, serif;
  color: white;
}

textarea {
  color: white;
  resize: vertical;
  max-height: 150px;
}

textarea::placeholder {
  font-family: Poppins, serif;
}

textarea:hover {
  box-shadow: 0 0 10px #ded4d4;
}

#inputMessage {
  width: 100%;
  background: none;
  border-bottom: 2px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
}

button {
  background: none;
  border: 1px solid white;
  height: 30px;
  color: white;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 15px;
  float: right;
  cursor: pointer;
}

.containerPosted {
  display: flex;
  position: relative;
  margin-top: 10px;

  p {
    margin: 0 0 0 0;
  }

  .userLogoCommented {
    margin-right: 15px;
    min-width: 60px;
    width: 75px;
  }

  .commentDetails {
    display: flex;
    align-items: center;
    width: 100%;

    .reportIcon {
      position: absolute;
      left: 97%;
      cursor: pointer;
    }

    .reported {
      color: red;
    }


    .commentUsername {
      margin-right: 5px;
      font-size: 15px;
      font-weight: bold;
    }

    .commentTime {
      font-size: 10px;
      color: gray;
    }
  }

  .commentText {
    font-size: 12px;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}
