<div class="containerInputs" *ngIf="processedPage">
  <h4>Comentários</h4>
  <div class="inputTotal">
    <div class="userLogoComment">
      <app-user-logo
        [src]=postLogo.logo
      >
      </app-user-logo>
    </div>
    <div class="inputFields">
      <form [formGroup]="userForm">
        <span>
          <input [ngClass]="{'bounce': errorName }" placeholder="Nome" id="inputName" type="text"
                 formControlName="inputName">
          <input [ngClass]="{'bounce': errorEmail }" placeholder="E-mail" id="inputEmail" type="email"
                 formControlName="inputEmail">
        </span>
        <textarea [ngClass]="{'bounce': errorMessage }" placeholder="Mensagem" id="inputMessage"
                  formControlName="inputMessage"></textarea>
      </form>
    </div>
  </div>
  <div class="submitButton">
    <button (click)="postComment()">Submeter Comentário</button>
  </div>
  <div class="containerPosted" *ngFor="let comment of comments">
    <div class="userLogoCommented">
      <app-user-logo
        [src]=comment.logo
      >
      </app-user-logo>
    </div>
    <div>
      <div class="commentDetails">
        <p class="commentUsername">{{comment.username}}</p>
        <p class="commentTime">{{comment.date}}</p>
      </div>
      <div class="commentText">
        <p>
          {{comment.body}}
        </p>
      </div>
    </div>
  </div>
</div>
