h3 {
  margin-top: 2%;
  margin-bottom: 1%;
  color: white;
}

.global {
  display: flex;
}

.mainColumn {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  width: 80%;
  margin-left: 1vw;
}

.videoCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2vh 2vw;
  margin-right: 1.5vw;
}

.menusRight {
  width: 25%;
  margin-right: 2%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


