* {
  margin: 0;
}

.totalcard {
  background-color: #1c1c24;
  border-radius: 10px;
  height: 100%;
  aspect-ratio: 10/7;
  position: relative;
  min-width: 250px;

  .thumbnail {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;


    .midsection {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 30%;
      position: absolute;
      top: 85%;
      align-items: flex-start;

      .duration {
        background: #1c1c24;
        border-radius: 5px;
        margin-left: 15px;
        text-align: center;
        padding: 1px 10px 1px 10px;
        position: relative;

        p {
          margin: 0;
          font-size: 0.6em;
          color: antiquewhite;
        }
      }

      app-user-logo {
        bottom: 10%;
        right: 5%;
        position: absolute;
      }
    }
  }

  .details {
    display: grid;
    height: 30%;
    margin-left: 10px;
    align-content: center;
    grid-gap: 5px;

    .channelName {
      font-size: 0.8rem;
      color: #1e75ff;
      margin: 0 0 0 0;
    }

    .titleDiv {
      max-height: 2rem;
      text-overflow: ellipsis;
      overflow: hidden;

      .title {
        margin: 0 0 0 0;
        line-height: 1rem;
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;

      .date {
        font-size: 0.7rem;
        color: darkgray;
        margin: 0 0 0 0;
      }

      .icons {
        display: flex;
        margin-right: 20px;

        * {
          font-size: 1.2rem;
          margin-right: 20px;
        }

        /* Popup container - can be anything you want */
        .popup {
          position: relative;
          display: inline-block;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          .share {
            color: #92929D;
            position: absolute;
          }
        }

        /* The actual popup */
        .popup .popuptext {
          visibility: hidden;
          width: 160px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 8px 0;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          margin-left: -80px;

          p {
            font-size: 15px;
          }
        }

        /* Popup arrow */
        .popup .popuptext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent;
        }

        /* Toggle this class - hide and show the popup */
        .popup .show {
          visibility: visible;
          animation: fadeInOut 3s linear 1 forwards;
        }
      }
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
