.totalcard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  background-color: #1c1c24;
  border-radius: 10px;

  .thumb {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
  }
}

.thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
}

.midsection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: relative;
  app-user-logo {
    margin-right: 15px;
  }
  .duration {
    position: relative;
    background: #1c1c24;
    border-radius: 5px;
    bottom: 30px;
    margin-left: 15px;
    text-align: center;
    padding: 3px 4px 3px 4px;
  }

  p {
    margin: 0;
    font-size: 0.6em;
    color: antiquewhite;
  }
}

.details {
  border: 1px solid white;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-left: 15px;

  .channelName {
    font-size: 10px;
    color: blue;
    margin: 0;
  }
  .title {
    font-size: 20px;
    margin: 0;
  }
  .date {
    font-size: 10px;
    color: darkgray;
    height: 7%;
    margin: 0;
  }
}
