@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Roboto');


.wrapper {
  display: flex;

  div {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
  }
}

* {
  color: antiquewhite;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}



