<div id="mainBar">
  <div id="header">
    <div>
      <h1>{{data.title}}</h1>
      <app-tags [tags]="data.tags"></app-tags>
    </div>
    <div (click)="report(data.id)" id="report">
      <fa-icon [icon]="flag"></fa-icon>
    </div>
  </div>
  <iframe
    [src]="video_url">
  </iframe>
  <div id="video_description">
    <div id="user">
      <span id="img">
        <app-user-logo
          [src]="user.logo"
          size="calc(20px + 3vw)"
        ></app-user-logo>
      </span>
      <div id="text">
        <h1>{{user.name}}</h1>
        <h2>há 7 dias (necessita api)</h2>
      </div>
    </div>
    <div id="likeContent">
      <!--
            class e if mudar isto
      -->
      <fa-icon class="thumbs" [ngClass]="{'active' : true}" [icon]="thumbsUp"></fa-icon>
      <p>&#124;</p>
      <fa-icon class="thumbs" [ngClass]="{'active' : false}" [icon]="thumbsDown"></fa-icon>
    </div>
  </div>
</div>
<div id="sideBar">

</div>

