<div class="titulo">
  <h1>Canais </h1>
</div>
<div class="Header" *ngIf="processedPage">
  <div *ngFor="let channel of channels" class="mainClass">
    <div class="main">
      <div class="logo" routerLink="/channel/{{channel.id}}">
        <app-user-logo [src]="channel.logo"></app-user-logo>
      </div>
    </div>
    <div class="texto">
      <h2> {{channel.name}} </h2>
    </div>
    <div class="submitSub" (click)="toggleFavoritochannel(channel)" >
      <button  class="red"
               [ngClass]="{'green': channel.isSubscribed}">
        {{channel.isSubscribed ? 'Subscrito' : 'Subscrever'}}</button>
    </div>
  </div>

</div>
