<div class="menuRight" *ngIf="processedPage">
  <div class="banner">
    <div class="topText">
      <h2>Canais Sugeridos</h2>
    </div>
    <div class="channelList">
      <div class="channel" *ngFor="let channel of channels">
        <div class="logocanal">
          <app-user-logo
            [src]="channel.logo"
          >
          </app-user-logo>
        </div>
        <p>{{channel.name}}</p>
      </div>
    </div>
    <div class="bottomText" (click)="showMore()">
      <p class="showMoreButton">{{showText}}</p>
    </div>
  </div>
</div>
