<div class="menuRight">
  <div class="main">
    <div class="topText">
      <h2>Canais Sugeridos</h2>
    </div>
    <div class="channelList">
      <div class="channel" *ngFor="let channel of channels">
        <app-user-logo
          [src]="apiRoute + channel.logo"
          size="30px"
        >
        </app-user-logo>
        <p>{{channel.name}}</p>
      </div>
    </div>
    <div class="bottomText">
      <p class="showMoreButton" (click)="showMore()">{{showText}}</p>
    </div>
  </div>
</div>
